In [1]:
import pandas as pd

In [2]:
ds = pd.read_csv('Hurricanes1980sCurrentFlat.csv')

In [3]:
ds.head()

,Year,Mo,Location1,WindDirection1,Location2,WindDirection2,Location3,WindDirection3,Location4,WindDirection4,Location5,WindDirection5,Category,Centroid Pressure,Max Wind Speed,Name
0,1980,Aug,TX,S3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,945.0,100.0,Allen
1,1981,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1982,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1983,Aug,TX,N3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,962.0,100.0,Alicia
4,1984,Sep,* NC,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,949.0,95.0,Diana